{% extends "lfs/customer/base.html" %}
{% load i18n lfs_tags %}

{% block title %}
    {% trans 'Preferred language' %} - {{ block.super }}
{% endblock %}

{% block section %}preferred-language{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Preferred language") %}
{% endblock %}

{% block content %}
    <h1>{% trans 'Preferred language' %}</h1>
    <span class="form-info">{% trans "Preferred language will be used within e-mail messages sent to you" %}</span>
    <form action="{% url 'lfs_preferred_language' %}"
          method="post">
        {% csrf_token %}
        <table>
            {{ lang_form }}
            <tr>
                <td colspan="2">
                    <input type="hidden"
                           name="action"
                           value="email" />

                    <input class="lfs-default"
                           type="submit"
                           value="{% trans 'Save preferred language' %}" />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
